.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
  opacity: 70%;
}

.card:hover {
  transform: translateY(-5px);
  background: #f5f5f5;
  opacity: 100%;
}
.logo-text {
  margin: 60px 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.logo {
  padding: 40px;
}
