/* تنسيق شريط التنقل */
.nav-item {
  display: inline-block;
  margin: 0 15px;
  list-style: none;
}

.nav-link {
  color: white !important; /* خلي الخط أبيض */
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffc107 !important; /* لون أصفر عند المرور */
  text-decoration: underline;
}

/* تنسيق الخلفية */
.navbar {
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}
